$lightFont: #fff;
$darkHeadFont: #171a20;
$darkTextFont: #393c41;

@font-face {
    font-family: 'GothamSSm';
    src: url('./font/GothamSSm-Book.otf');
}

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'GothamSSm', 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $darkTextFont;
}

h1 {
    font-size: 30px;
    margin: 0;
    padding: 12px 0;
}

section {
    padding: 100px 0;
}

.container {
    padding: 100px 200px;
    box-sizing: border-box;
}

.heading {
    font-weight: 500;
    color: $darkHeadFont;
    display: inline-block;
    margin: 10px 0;
}

.heading.dr-th {
    color: $lightFont !important;
}

.heading.heading2 {
    font-size: 28px;
}
