.main-section {
    display: flex;
    gap: 40px;
    align-items: center;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.avatar {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}