.main-section {
    display: flex;
    height: 100vh;
    gap: 40px;
    align-items: center;
}

.avatar {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.main-section__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}