@use '../../index.scss' as ind;

.nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 50%;
    margin-left: 20px;
    transform: translate(0, -50%);

    &__hlink {
        background-color: #ffffff;
        padding: 12px 20px;
        border-radius: 50px;
        display: inline-block;
        transition: margin-left .3s cubic-bezier(0.39, 0.58, 0.57, 1);
        max-width: 120px;
    }

    &__hlink:hover {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
        
        &__hlink:hover {
            margin-left: 0;
        }
    }
}

.nav>a {
    color: ind.$darkTextFont;
}

.nav>a:hover {
    color: ind.$darkHeadFont;
}