@use '../../index.scss' as ind;

.project {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    transition: box-shadow .5s;
    
    &__image {
        width: 100%;
        background-color: #d0d0d5;
    }

    &__url {
        color: ind.$darkTextFont;
        text-decoration: none;
    }
}

.project:hover {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}