@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&family=Poppins:wght@500&display=swap');

$main-text: #FDFDFD;
$secondary-text: #C0C0C0;
$code-text: #C97516;
$code-font: 'JetBrains Mono', sans-serif;

* {
  margin: 0;
  padding: 0;
}

:root {
  background-color: #141414;
  color: $main-text;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  padding: 220px 0 170px 0;
  width: 1140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
}

::selection {
  background: $code-text;
  color: $main-text;
}

section {
  padding: 200px 0;
}

// h2 {font-size: 100px;}
h1, h2, h3, h4, h5, h6 {font-weight: 500;}

.code-text {
  font-family: $code-font;
}

.code-text.themed {
  color: $code-text;
}